<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Center</title>
    <link rel="stylesheet" href="project.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <div class="navbar">
    <nav>
       <div>
        <h2>Known</h2>
       </div>
        <div class="links">
             <a href="#banner">Home</a>
             <a href="#about">About</a>
            <a href="#teachers">Our Teachers</a>
            <a href="#courses">Courses</a>
            <a href="#reviews">Reviews</a>
            <a href="#contact">Contact</a>
        </div>
        <div>
            <i class="fa fa-phone" id="phoneicon"></i>
            <span> &plus;6522441100</span>
        </div>
    </nav>
   </div>

   <div class="banner" id="banner">
    <div class="banner-data">
       <h1>Distance Learning <br>Education center</h1>
       <p>Our online courses are designed to fit in your industry supporting all-round <br>with latest technologies.
       </p>
      <span>Discover more</span>
    </div>
      
    
   </div>

   <div class="section-1">
    <div class="cards">
        <span>01</span>
        <h3>Trending Courses</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut <br>labore et dolore magna.</p>
    </div>
    <div class="cards">
        <span>02</span>
        <h3>Books & Library</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut <br>labore et dolore magna.</p>
    </div>
    <div class="cards">
        <span>03</span>
        <h3>Certified Teachers</h3>
        <p>templatemo delivers a wide variety of <br> HTML5 templates for you at absolutely no <br>charge. Please tell your friends.</p>
    </div>

   </div>

   <div class="section-2" id="about">
    
        <div class="section-2-1">
            <div>
                <h1>Start your journey to a better life with online practical courses</h1>
                <div class="benefits">
                    <div>
                        <i class="fa fa-users" id="users"></i>
                    </div>
                    <div  id="userinfo">
                        <h2>Professional Trainers.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa <br> voluptatibus.</p>
                    </div>
                </div>
                <div class="benefits">
                    <div>
                        <i class="fa fa-certificate" id="certificate"></i>
                    </div>
                    <div id="certificateinfo">
                        <h2>International Certifications</h2>
                        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa <br> voluptatibus.</p>
                    </div>
                </div>
                <div class="benefits">
                    <div>
                        <i class="fa fa-bar-chart" id="chart"></i>
                    </div>
                    <div id="chartinfo">
                        <h2>Free for 3 months</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa <br> voluptatibus.</p>
                    </div>
                </div>
            </div>
        </div>

         <div class="section-2-2">
            <div class="signupform">
               <div id="form-details">
                <h1>Signup today</h1>
               <div>
                <input type="text" placeholder="Full name" id="text"><br><br>
                <input type="email" placeholder="Your email address" id="email"><br><br>
                <input type="password" placeholder="   Your password" id="password"><br><br>
               </div>
    
            <div id="get-button">
                <span>Get Started</span>
            </div>
        </div>
                
               
              
            </div>
        </div>
    
   </div>

   <div class="section-3" id="teachers">
    <div class="section-3-1">
        <h2>Teachers</h2>
        <p>Meet Professional Trainers</p>
    </div>
    <div class="section-3-2">
        <div class="section-3-2-card">
            <img src="../assets/author-image1.jpg" alt="" width="100%" height="65%">
            <div class="section-3-2-card-author">
                <h2>Mark Wilson</h2>
                <p>I love Teaching</p>
            </div>
            <hr>
            <div class="section-3-2-card-icons">
                <i class="fa fa-facebook" id="facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                
            </div>
             
        </div>
        <div class="section-3-2-card">
            <img src="../assets/author-image2.jpg" alt="" width="100%" height="65%">
            <div class="section-3-2-card-author">
                <h2>Catherine</h2>
                <p>Education is the key!</p>
            </div>
            <hr>
            <div class="section-3-2-card-icons">
                <i class="fa fa-google"></i>
                <i class="fa fa-twitter"></i>
            </div>
             
        </div>
        <div class="section-3-2-card">
            <img src="../assets/author-image3.jpg" alt="" width="100%" height="65%">
            <div class="section-3-2-card-author">
                <h2>Jessie Ca</h2>
                <p>I like Online Courses</p>
            </div>
            <hr>
            <div class="section-3-2-card-icons">
                <i class="fa fa-envelope"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedin"></i>
                
            </div>
             
        </div>
        <div class="section-3-2-card">
            <img src="../assets/author-image4.jpg" alt="" width="100%" height="65%">
            <div class="section-3-2-card-author">
                <h2>Andrew Berti</h2>
                <p>Learning is fun</p>
            </div>
            <hr>
            <div class="section-3-2-card-icons">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-google"></i>
                <small>Be</small>
                
            </div>
             
        </div>
    </div>

   </div>

   <div class="section-4" id="courses">
    <div class="section-4-1">
     <h1>Popular Courses</h1>
     <p>Upgrade your skills with newest courses</p>
    </div>
    <div class="section-4-2">
        <div class="section-4-2-card">
           <div class="section-4-2-card-author">
            <img src="../assets/courses-image2.jpg" alt="" width="100%" height="50%" >
           <div class="section-4-2-card-calender">
            <i class="fa fa-calendar"></i>
            <span>20/07/2018</span>
            <span  style="padding-left: 30px;"><i class="fa fa-clock-o" ></i> 4.5 Hours</span>
           </div>
           </div>
           <div class="section-4-2-author-details">
            <h2>Graphic & Webdesign</h2>
            <p >Lorem ipsum dolor sit amet consectetur <br>adipisicing elit.</p>
           </div>
           <hr>
           <div class="section-4-2-author-name">
             <div class="section-4-2-author-name-details">
                <img src="../assets/author-image2.jpg" alt="" width="50%" height="70px" style="border-radius: 50%;">
                <h3>Jessica</h3>
             </div>
             <div>
                <span id="usd">USD 80</span>
             </div>
           </div>
        </div>
        <div class="section-4-2-card">
            <div class="section-4-2-card-author">
             <img src="../assets/courses-image3.jpg" alt="" width="100%" height="50%" >
            <div class="section-4-2-card-calender">
             <i class="fa fa-calendar"></i>
             <span>15/08/2018</span>
             <span  style="padding-left: 15px;"><i class="fa fa-clock-o" ></i> 6 Hours</span>
            </div>
            </div>
            <div class="section-4-2-author-details">
             <h2>Marketing Communication</h2>
             <p>Lorem ipsum dolor sit amet consectetur <br>adipisicing elit.</p>
            </div>
            <hr>
            <div class="section-4-2-author-name">
              <div class="section-4-2-author-name-details">
                 <img src="../assets/author-image3.jpg" alt="" width="50%" height="70px" style="border-radius: 50%;">
                 <h3>Catherine</h3>
              </div>
              <div>
                 <span id="free">Free</span>
              </div>
            </div>
         </div>
         <div class="section-4-2-card">
            <div class="section-4-2-card-author">
             <img src="../assets/courses-image4.jpg" alt="" width="100%" height="50%" >
            <div class="section-4-2-card-calender">
             <i class="fa fa-calendar"></i>
             <span>10/08/2018</span>
             <span  style="padding-left: 30px;"><i class="fa fa-clock-o" ></i> 8 Hours</span>
            </div>
            </div>
            <div class="section-4-2-author-details">
             <h2>Summer Kids</h2>
             <p>Lorem ipsum dolor sit amet consectetur <br>adipisicing elit.</p>
            </div>
            <hr>
            <div class="section-4-2-author-name">
              <div class="section-4-2-author-name-details">
                 <img src="../assets/author-image1.jpg" alt="" width="50%" height="70px" style="border-radius: 50%;">
                 <h3 style="width: 100%;">Mark wilson</h3>
              </div>
              <div>
                 <span id="usd">USD 45</span>
              </div>
            </div>
         </div>

    </div>
    <div class="section-4-symbols">
      <span >&lt;</span>
      <span >&gt;</span>
    </div>
   </div>

   <div class="section-5" id="reviews">
    <div class="section-5-1">
     <h2>Students Reviews</h2>
     <p>From around the world</p>
    </div>
    <div class="section-5-2">
        <div class="section-5-2-card">
           <div class="section-5-2-feedback1">
            <img src="../assets/tst-image2.jpg" alt="" width="30%" height="70px" style="border-radius: 50%;">
            <div>
                <h2>Camila</h2>
                <p style="color: gray;">Marketing Manager</p>
            </div>
           </div>
           <p style="color: gray;">Trying something new is exciting! <br>Thanks for the amazing law course  <br>and the great teacher who was able <br>to make it interesting.</p>
           <div>
            <i class="fa fa-star" style="color: blueviolet;"></i>
            <i class="fa fa-star" style="color: blueviolet;"></i>
            <i class="fa fa-star" style="color: blueviolet;"></i>
           
           </div>
        </div>
        <div class="section-5-2-card" id="section-5-2-seccard">
            <div class="section-5-2-feedback1">
             <img src="../assets/tst-image3.jpg" alt="" width="30%" height="70px" style="border-radius: 50%;">
             <div>
                 <h2>Barbie</h2>
                 <p style="color: gray;">Art Director</p>
             </div>
            </div>
            <p style="color: gray;">Donec erat libero,blandit vitae arcu <br>eu,lacinia placerat justo.Sed<br>sollicitudin quis felis vitae hendrerit.</p>
            <div>
             <i class="fa fa-star" style="color: blueviolet;"></i>
             <i class="fa fa-star" style="color: blueviolet;"></i>
             <i class="fa fa-star" style="color: blueviolet;"></i>
             <i class="fa fa-star" style="color: blueviolet;"></i>
             <i class="fa fa-star" style="color: blueviolet;"></i>
            
            </div>
         </div>
         <div class="section-5-2-card">
            <div class="section-5-2-feedback1">
             <img src="../assets/tst-image4.jpg" alt="" width="30%" height="70px" style="border-radius: 50%;">
             <div>
                 <h2>Andrio</h2>
                 <p style="color: gray;">Web Developer</p>
             </div>
            </div>
            <p style="color: gray;">nam eget mi eu ante faucibus viverra <br>nec sed magnaa.Vivamus viverra<br>sapien ex,elementum varius ex <br> sagittis vel.</p>
            <div>
             <i class="fa fa-star" style="color: blueviolet;"></i>
             <i class="fa fa-star" style="color: blueviolet;"></i>
             <i class="fa fa-star" style="color: blueviolet;"></i>
             <i class="fa fa-star" style="color: blueviolet;"></i>

            
            </div>
         </div>

    </div>
    <div class="section-5-3">
       <p id="circle-1"></p>
       <p id="circle-2"></p>

    </div>
   </div>

  <div class="section-6" id="contact">
    <div class="section-6-1">
        <div id="contact-info">
            <h1>Contact Us</h1>
            <p>We love conversations.let us talk</p>
        </div>
        <div>
            <input type="text" placeholder="Enter full name" ><br><br>
            <input type="email" placeholder="Enter email address"><br><br>
            <textarea cols="71" rows="10" placeholder="Tell us about your message" style=" padding-left: 10px;"></textarea>

        </div>
        <div  id="send-btn">
            Send message
        </div>

    </div>
    <div class="section-6-2">
    <img src="../assets/contact-image.jpg" alt="" width="90%" height="500px">
    </div>
    </div>

   <div class="footer">
     <div class="footer-box-1">
       <div>
        <h1>Headquarter</h1>
        <div><p>1800 dapibus a tortor pretium,<br> Integer nisl dui, ABC 12000</p></div>
       </div>
       <div  id="footer-box-1-part-2">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter" ></i>
        <i class="fa fa-instagram"></i>
       </div>
       <div style="padding-right: 20px;">
        <p>Copyright &copy; 2018 Company</p>
        <p>Design: Template Mo</p>
        <p>Distribution: ThemeWagon</p>
       </div>

     </div>
     <div class="footer-box-2">
       <div>
        <h1>Contact Info</h1>
        <p>&plus;65 2244 1100, +66 1800 1100</p>
        <p> hello@youremail.co</p>
       </div>
        <div style="padding-left: 30px;">
        <h1>Quick Links</h1>
        <p>Career Investor Terms & Conditions </p> <p>Refund Policy</p>
        </div>

     </div>
     <div class="footer-box-3">
       <div>
        <h1>Newsletter Signup</h1>
       <input type="text" placeholder="Enter your email" id="footerbutton"><br>
       </div>
      <div style="padding-right: 20px;">
        <div>
            <span id="sendme-btn">Send me</span>
        </div>
       <div>
        <p style="padding-top: 15px;"> &#42;Please note - we do not spam your email.</p>
       </div>
      </div>


     </div>
   </div>
  </div>
</body>
</html>